main {
  padding: 1em;
}

.users-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.users {
  margin-top: 1rem;
  list-style: none;
  font-size: 1.2rem;
}

.users .user {
  margin-bottom: 10px;
}

.role-badge {
  padding: 5px;
  margin: 0 5px;
  border-radius: 8px;
  font-size: 0.8em;
}

.role-badge.role-user {
  background-color: #6f9fff;
}

.role-badge.role-admin {
  background-color: #ffcc6f;
  color: white;
}
